body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
}

.box {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 360px;
    border-radius: 10px;
}

input, textarea, select {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}

#historyBox {
    text-align: left;
    font-size: 14px;
}
